<div class="body">  
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-9">           
            <div class="card">
                
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like like-checked"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="assets\AirPodsPro.jpg"> </div> <small class="category">Apple</small>
                            <h5 class="product-name">Air Pods Pro</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">24900</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                           <button >Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="\assets\SonyHead.jpg"> </div> <small class="category">Sony</small>
                            <h5 class="product-name">Sony Headset</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">29000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\BoatRockerzz400.jpg"> </div> <small class="category">Boat</small>
                            <h5 class="product-name">Boat Rockerzz400</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">15000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\Beat2.jpg"> </div> <small class="category">Beats</small>
                            <h5 class="product-name">Beats Headphones</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">25000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\Reflex1.jpg"> </div> <small class="category">Reflex</small>
                            <h5 class="product-name">Reflex tunes</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">20000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic3" src="\assets\BoatAir.jpeg"> </div> <small class="category">Accessories</small>
                            <h5 class="product-name">Boat AirDopes</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">35000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>